<section id="homepage">
    <section id="navbar">
        <section id="logo">
            <mat-icon aria-hidden="false" fontIcon="backup"></mat-icon>
            <h1>File<span id="dark-logo-text">Backup</span></h1>
        </section>
        <button id="upload-button" mat-stroked-button (click)="openFileUploadDialog()">UPLOAD 
            <mat-icon aria-hidden="false" fontIcon="add_circle"></mat-icon>
        </button>
    </section>
    <section id="file-content">
        <app-file-search (searchText)="searchText.set($event)" id="search-bar" />
        <section id="table-section">
            <h2>Welcome to FileBackup</h2>
            <app-file-list [searchText]="searchText()" />
        </section>
    </section>
</section>
